Source: ghost-cr-ce
Section: unknown
Priority: optional
Maintainer: Ioan Cosmin Szanto <cosmin.szanto@vitheia.com>
Build-Depends: devscripts,
	python (>= 2.7.0),
	python3 (>= 3.4.0),
	dh-python,
	debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>

Package: python-ghost-cr-ce
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-ghost-protocol
XB-Python-Version: ${python:Versions}
Description: CR_CE module for GHOST in python2.

Package: python3-ghost-cr-ce
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-ghost-protocol
Description: CR_CE module for GHOST in python3.