#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

export PYBUILD_NAME=ghost-ndfa

DESTDIR_PYTHON2=$(CURDIR)/debian/python-ghost-ndfa
DESTDIR_PYTHON3=$(CURDIR)/debian/python3-ghost-ndfa

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_configure:
	dh_auto_configure

	cp -v "$(CURDIR)/debian/ghost-ndfa.service" "$(CURDIR)/debian/python-ghost-ndfa.service"
	cp -v "$(CURDIR)/debian/ghost-ndfa.service" "$(CURDIR)/debian/python3-ghost-ndfa.service"

override_dh_auto_install:
	dh_auto_install

	mkdir "$(DESTDIR_PYTHON2)/etc/" "$(DESTDIR_PYTHON2)/etc/ghost/"
	cp -v "$(CURDIR)/config.template.ini" "$(DESTDIR_PYTHON2)/etc/ghost/ndfa.ini"
	mkdir "$(DESTDIR_PYTHON2)/usr/bin/"
	install -m 755 -T "$(CURDIR)/ghost-ndfa.py" "$(DESTDIR_PYTHON2)/usr/bin/ghost-ndfa.py"

	mkdir "$(DESTDIR_PYTHON3)/etc/" "$(DESTDIR_PYTHON3)/etc/ghost/"
	cp -v "$(CURDIR)/config.template.ini" "$(DESTDIR_PYTHON3)/etc/ghost/ndfa.ini"
	mkdir "$(DESTDIR_PYTHON3)/usr/bin/"
	install -m 755 -T "$(CURDIR)/ghost-ndfa.py" "$(DESTDIR_PYTHON3)/usr/bin/ghost-ndfa.py"